.accordion {
  .accordion-item {
    border: 0;

    h2 {
      font-size: 14px;
    }
  }

  .accordion-button {
    color: black;
    background-color: transparent;
    box-shadow: none;
    font-family:$font-poppins;
    font-weight: 500;
    padding: 0;
    border: 0;

    &::after {
      content: "+";
      background-image: none;
      border: 1px solid $gray-600;
      border-radius: 4px;
      text-align: center;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color:$gray-600;
    }

    &:not(.collapsed)::after {
      content: "-";
      background-image: none;
      transform: none;
    }
  }

  .accordion-body {
    padding: 0.5rem 0;
  }
}