.bg-card {
  .booking-for{
    h5{
      font-family:$font-rufina;
    }
    p{
      font-weight:$medium;
    }
    .coupon-code{
      position: relative;
      button.btn.btn-apply {
        position: absolute;
        color: $secondary;
        right: 0;
        top: 1px;
        font-size: 14px;
      }
    }
  }
}

.booking-confirm{
  h4{
    color: $green;
    border-bottom: 2px solid $green;
    padding-bottom: 14px;

    svg{
      width:30px;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  .next-arrow{
    width:28px;
    height:28px;
    background-color: #F0F0F0;
    border-radius:30px;
    text-align: center;
    svg{
      width:18px;
      color: $secondary;
    }
  }
  .payment-details{
    h5{
      font-family:$font-rufina;
    }
  }
}

.tabs-design{
  .booking-tab{
    .nav-pills {
      background: transparent;
      border: 0;
      padding: 0;
      a{
        text-decoration: none;
      }
      .nav-item .nav-link{
        border-radius: 0;
      }
    }
    .nav-link.active, .show > .nav-link {
      color: black!important;
      background-color: transparent!important;
      border-bottom:1px solid $secondary;
    }
  }
}

.search-name{
  svg{
    width:14px;
    position: absolute;
    right:15px;
    top: 15px;
  }
}

.table {
  th, td {
    font-size: 13px;
    padding: 10px 15px;
    .icons{
      width:25px;
      height:25px;
      line-height:25px;
    }
  }

  > :not(caption) > * > * {
    border-bottom-width: 4px;
    border-color: #fafafa;
  }
}

.pagination .page-item .page-link {
  padding: 0.375rem 0.75rem;
  border: 0;
  background: #FAFAFA;
  margin-right: 7px;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  text-align: center;
  color: gray;

  &.active {
    background-color:$secondary;
    color:$white;
  }
}

