
.btn{
    border-radius:10px;
    color: $white;
    font-family: $font-poppins;
    font-size:$text-16;
    font-weight: $medium;
    padding:$padding-xxs  $padding-sm;
    &:active,  &:focus{
        box-shadow: none;
    }

}


.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
    transition:0.4s;
    &:active,  &:focus{
        box-shadow: none;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
}

.btn.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
    &:active,  &:focus{
        box-shadow: none;
    }
}

button.btn.line-btn {
    border: 1px solid #575757;
    color: #575757;
    height: 36px;
    font-size: 14px;
}

.btn-xl{
    height:50px;
}
.btn-lg{
    height:43px;
}
.btn-md{
    height:41px;
}
.btn-sm{
    height:36px;
    font-size:14px;
    padding: 6px 16px;
}

.btn-green {
    background-color:$green;
    border-color: $green;
}
.btn-orange{
    background-color:$orange-300;
    border-color: $orange-300;
}
button.btn.btn-blue {
    background: #1B2534;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
}