.bg-card{
  box-shadow: 0px 0px 64px rgb(0 0 0 / 3%);
  border-radius:20px;
  background-color: $white;
  padding: $padding-xs;
}


.card-details{
  &:hover {
    margin-top: -42px;
    transition: 0.3s;
    cursor:pointer;
  }
  &:hover button {
    display: block !important;
    transition:0.5s;
  }
  .card-img{
    img{
      width: 100%;
      padding: 0 1rem;
    }
  }
  .card-body{
    height:168px;
    padding: 0;
    .bg-card{
      margin-top: -42px;
      border-radius: 10px;
      padding:2.5rem 0 0;

      .card-padding {
        padding: 12px;
      }
      p{
        font-size:$text-xs;
      }
      h6{
        font-size:14px;
      }
      button{
        display: none;
      }
    }
  }
}