$primary:#F58E28;
$secondary:#30B5D6;
$black:#000000;
$black-100:#212121;
$black-200:#282834;
$black-300:#1F3543;
$black-400:#253E4E;
$green:#1AB800;
$green-100:#18AB00;
$green-200:#d1f1cc;
$gray-100:#F3F3F3;
$gray-200:#F3F5F7;
$gray-300:#858585;
$gray-400:#B7B5B5;
$gray-500:#FAFAFA;
$gray-600:#575757;
$gray-700:#E2E2E2;
$white:#ffffff;
$blue:#3B5998;
$dark-blue: #182F3F;
$red:#D54C3F;
$orange-100:#B47700;
$orange-200:#f1decc;
$orange-300:#F55928;