body{
  font-family:$font-poppins;
}

#background {
  background-color: $gray-500;
}
ul{
  padding-left:0;
}
li{
  list-style: none;
}
.bg-gray{
  background-color:$gray-200;
}
.bg-blue{
  background-color:$dark-blue;
}
.bg-light-gray{
  background-color:$gray-500;
  border-radius:20px;
}
.txt-black{
  color: $black-100;
}
.txt-green{
  color: $green;
}
hr{
  background-color:$gray-700!important;
}
small{
  font-size:12px;
}
.alignment{
  text-align: right;
}
.col-width{
  width:20%;
}
.label{
  font-size:12px;
  padding:4px 5px;
  font-weight:$medium;
  border-radius:4px;
}
.bg-green{
  color:$green-100;
  background:$green-200;
}
.bg-orange{
  color:$orange-100;
  background:$orange-200;
}
.booking-img img {
  width: 100%;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, "|") /* rtl: var(--bs-breadcrumb-divider, "|") */;
}
.read-more{
  color: $primary;
  text-decoration: none;
  font-size:14px;
}

.back-details {
    text-decoration: none;
    color: black;
    a{
      text-decoration: none;
      color: $black-100;
    }
    svg{
      width: 7px;
      color: black;
      vertical-align: middle;
      margin:0 5px 3px 0;
    }
}

.account-head{
  .back-details{
    font-size:24px;
    svg{
      width:10px;
    }
  }
}

.gray-title{
  color: $gray-300;
  line-height: 1.4;
}
.user-rating {
  background-color: $primary;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 17px;
  color: white;
  display: inline-block;
  vertical-align: text-bottom;
  svg{
    width: 14px;
  }
}

.rating{
  svg {
    width: 14px;
    color: $primary;
  }
}

.thumb-up svg{
  width:18px;
  margin-bottom: 5px;
}
.rev-report{
  color:$gray-300;
}
a.show-map{
  color: $green;
}
a.edit{
  color:$secondary;
}
.booking-subtitle{
  color:$gray-300;
}
.custom-radio.custom-20 {
  margin-top: 6px;
}
.heading-font{
  font-family: $font-rufina;
}
.heading-font1{
  font-family: $font-poppins;
}
.content-position{
  top: -30px;
  right: 30px;
  h4{
    color: $green;
  }
}

.content-position1 {
  bottom: 130px;
  left: -50px;

  svg {
    width: 45px;
    color: $primary;
    vertical-align: sub;
  }

  p {
    color: $black-100;
  }
}

.main-heading{
  h5{
    color: $gray-300;
  }
}

.booking-fill-info {
  border-right: 1px solid $gray-700;
  padding-right: 30px;

  &:last-child {
    padding-right: 0;
    border-right: 0;
  }
}

.vertical-border {
  position: relative;

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    background:$gray-700;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
  }

  &:first-child:after {
    content: none;
  }
}

.drop{
  border: 1px solid #B7B5B5;
  border-radius: 10px;
  .dropdown{
    width: 72px;
    background: transparent;
    padding: 9px;
    &:before{
      top: 15px;
    }
    &:after{
      content: "";
      position: absolute;
      right: 6px;
      display: inline-block;
      height: 22px;
      width: 1px;
      background: #212121;
      top: 10px;
    }
  }
}

.banner-item{
  .post-content{
    a{
      text-decoration: underline;
    }
  }
}

.blog-tag{
  div{
    display: inline-block;
    margin-top: 5px;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.contact-details{
  svg{
    width: 24px;
    color:$primary;
  }
  a{
    color: $gray-600;
  }
}

.video{
  .content-position1{
    left: 50%;
    top: 50%;
    bottom: auto;
    svg{
      color: white;
      cursor: pointer;
    }
  }
}

.search{
  svg{
    width: 14px;
    position: absolute;
    top: 14px;
    right: 16px
  }
}