
  .sidebar{
    .profile-img {
      width: 50px;
      height: 50px;

      img{
        width:100%;
        border-radius:15px;
      }
    }

    .profile-details{
      h5{
        font-family: 'Rufina';
        font-size: 20px;
      }
      svg{
        width: 11px;
        color: $green;
      }
    }
  }


.tabs-design
  .nav-pills {
  background: #FAFAFA;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  width: fit-content;
  padding: 6px;

  .nav-item .nav-link {
    padding: 0rem 0.5rem;
    height: 26px;
    font-size: 12px;
    color: #858585;
    font-weight: 500;
    border-radius:8px;
  }
  .nav-link.active, .show > .nav-link {
    color: #fff;
    background-color: #30B5D6;
  }

}



.sidebar-menu ul li {
  margin-top: 0.7rem;

  a {
    color: #858585;
    text-decoration: none;
    font-weight: 400;

    &.active {
      color: black;
    }
  }
}

.bg-card{
  .heading{
    font-family:$font-poppins;
    margin-bottom: 10px;
    &:after{
      content: "";
      width: 49px;
      height: 2px;
      background:$green;
      display: block;
      margin: auto;
      position: relative;
      top: 4px;
    }
  }
  .recent-booking{
    border: 1px solid green;
    text-align: center;
    width: 83px;
    border-radius: 10px;
    padding: 1px;
  }
}
