.dropdown {
  position: relative;
  width: 213px;
  background: #F0F0F0;
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 16px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 1.5px solid #212121;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }

  &.active::before {
    top: 22px;
    transform: rotate(-225deg);
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
  }

  .dropdown-menu {
    position: absolute;
    top: 56px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    overflow: hidden;
    display: none;
    z-index: 1;
    left: 0;
    padding:0;
    border: 0;
    border-radius: 4px;
  }

  &.active .dropdown-menu {
    display: block;
  }

  .dropdown-menu li {
    padding: 3px 0;
    cursor: pointer;
    margin: 0;
    display: block;

    &:hover {
      background: #62baea;
      color: #fff;
    }

  }
}