.custom-checkbox {
  display: block;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  label {
    position: relative;
    cursor: pointer;
    color: #858585;
    font-size:14px;

    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid $gray-700;
      border-radius: 4px;
      width: 14.65px;
      height: 14.65px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      top: -1px;
    }

  }

  input:checked + label {
    &:before {
      background-color: $primary;
      border-color: $primary;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 5px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
    }

    color: black;
  }
}

/*custom radio*/
.custom-radio {
  display: block;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  label {
    position: relative;
    cursor: pointer;
    color: #858585;
    font-size:14px;

    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid $gray-700;
      border-radius: 4px;
      width: 14.65px;
      height: 14.65px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      top: -1px;
    }

  }

  input:checked + label {
    &:before {
      background-color: $primary;
      border-color: $primary;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: 5px;
      width: 14.65px;
      height: 14.65px;
      border: 0;
      border-width: 0 1px 1px 0;
    }

    color: black;
  }
}






