.search-form{
  label{
    color: $white;
  }
  select, .form-control{
    background: transparent;
    color: $white;
    border: 0;
    padding: 0;
    height: auto;
  }
}

.filter{
  .filter-icon{
    svg{
      width:18px;
      cursor: pointer;
    }
  }
}

.custom-radio{
  label{
    font-size: 16px;
    &:before{
      width:20px;
      height:20px;
      background: #E2E2E2;
      margin-right:10px;
    }
  }
}

.search-form input::placeholder{
  color: white;
}