footer{
  background-color:$black-200;
  .footer-content{
    p{
      color:$white;
    }
    .footer-social{
      .social-icon{
        display: inline-block;
        background: $black-300;
        width: 44px;
        height: 44px;
        text-align: center;
        border-radius: 15px;
        line-height: 44px;
        margin-right:6px;

        svg{
          width: 14px;
          color: $white;
        }
      }
    }
  }
  .footer-menu{
    h3{
      color: $white;
      font-family:$font-poppins;
      font-weight:$medium;
    }
    ul{
      li{
        margin-bottom: 12px;
        a{
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  hr{
    background-color:$black-400;
  }
  .copyright{
    h6, a{
      color:$white;
    }
  }
}