.form-control, .form-select{
  border: 1px solid $gray-400;
  font-size:$text-xs;
  height: 43px;
  border-radius:10px;
  width:100%;
  &:focus {
    box-shadow: none;
  }
}

label{
  font-size:13px;
  color:$gray-300;
  margin-bottom:7px;
}
textarea.form-control {
  height: auto;
}
form{
  .form{
    .circle{
      width: 50px;
      height: 50px;
      margin: auto;
      text-align: center;
      line-height: 50px;
      box-shadow: 0px 0px 24px rgb(0 0 0 / 8%);
      border-radius: $text-l;


      svg{
        width: 20px;
        color: $white;
      }

      .fb{
        background:$blue;
        border-radius:$text-l;
      }

      .google{
        background:$red;
        border-radius:$text-l;
      }
    }

    .input-forms{
      .password{
        position: relative;
        svg{
          width:14px;
          position: absolute;
          right:15px;
          top: 15px;
          color: $gray-300;
        }
      }
    }

    .content{
      .forget-psd{
        a{
          color: $black-100;
        }
      }
      .clicking-ac{
        p{
          font-size:$text-xxs;
          a{
            color:$text-xxs;
            font-size:12px;
          }
        }
      }
    }

    .join-content{
      h6{
        font-weight: $medium;
      }

      a{
        color: $primary;
        font-weight: $medium;
      }
    }
  }
}


