.home-banner{
  position: relative;

  .home-content{
    position: absolute;
    top:100px;
    width:100%;
  }
  .contents{
    a{
      color: #212121;
      text-decoration: none;
      font-size: 20px;
      font-weight:$medium;
    }
    .arrow{
      display:block;
      cursor:pointer;
    }

    .arrow:before{
      content: "";
      height: 2px;
      width: 93px;
      background-color: $primary;
      display: block;
      float: left;
      position: relative;
      top: 5px;
      transition: 0.2s ease-in-out;
    }

    .arrow:after{
      content: "";
      float: left;
      border-left: 6px solid $primary;
      border-right: 6px solid transparent;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }
  }
  .home-filter {
    position: absolute;
    bottom: 0;
    right: 117px;
    background: white;
    padding: 1rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.how-it-works{
  .work-left-content{
    .in-content{
      h4{
        font-family: $font-poppins;
      }
      h6{
        background: $green;
        width: fit-content;
        padding: 2px 12px;
        border-radius: 60px;
        color: white;
      }
    }
  }
  .work-right-content{
    img{
      border-radius:25px;
    }
  }
}



.explore-near{
  .col-width{
    .card-explore{
      small{
        background: $gray-100;
        padding: 5px 10px;
        border-radius: 10px;
      }
      .in-card-explore{
        .in-card-img{
          width: 64px;
          border-radius: 50%;
          overflow: hidden;
          height: 64px;
          margin: auto;
          img{
            width: 100%;
            height:100%;
          }
        }
      }
    }
  }
}


.partner {
  .content-position{
    right: -68px;
    top: 33px;
  }
  .content-position1{
    left: auto;
    right: -36px;
    svg{
      vertical-align: middle;
    }
  }
}

.traveller{
  .owl-carousel{
    .slider{
      .slider-items{
        .react{
          height:8px;
          border-radius:40px;
          margin-bottom:8px;
        }
        .react.blue{
          width:100px;
          background-color: $secondary;
        }
        .react.orange{
          width:60px;
          background-color:$primary;
        }
        h3{
          font-family: $font-poppins;
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.safety{
  .card-info{
    svg{
      width:50px;
      color: $primary;
    }
    p{
      padding:0 1.2rem;
    }
  }
}

.know-more{
  .input-group-btn1{
    position: relative;
    .form-control{
      height: 56px;
      border-radius: 15px;
      border: 0;

    }
    .btn{
      position: absolute;
      right: 12px;
      top: 7px;
      border-top-left-radius: 8px;
      border-bottom-left-radius:8px;
    }
  }
}