.host-details{
  border: 2px solid $green;
  border-radius: 20px;
  padding: 1rem 1.1rem 2.8rem;
  box-shadow: 0px 10px 34px rgb(0 0 0 / 5%);
  position: relative;
  z-index: -1;

  .host-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%
    }
  }
  .host-count{
    color: $primary;
  }
  .host-title{
    font-family: $font-poppins;
  }
  .host-subtitle{
    color: $gray-300;
  }
}

.host-reviews{
  background: $green;
  width: 118px;
  height: 96px;
  text-align: center;
  margin-left: auto;
  border-radius: 20px;
  margin-top: -47px;
  box-shadow: 0px 0px 64px rgb(0 0 0 / 10%);
  margin-right: 22px;
  align-items: center;
  justify-content: center;
  display: flex;

  h3{
    font-family:$font-poppins;
    color: $white;
  }
  p{
    color:$white;
  }
}

