.header {
  position: relative;
  .banner-header {
    nav {
      background-color: $black-200;
      height: 360px;
      align-items: flex-start;
      background-image: url(../../public/assets/img/img1.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 20px;
      padding-top: $text-sm;
      a.nav-link {
        color: $white;
      }
    }
  }
  .home-header {
    nav {
      position: absolute;
      width: 100%;
      z-index: 10;
      box-shadow: none;
    }
  }
  nav {
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      margin: auto 0 auto 16px;
    }

    a.nav-link {
      display: block;
      text-decoration: none;
      color: $black;
      font-family: $font-poppins;
      font-weight: 400;
      font-size: $text-16;
    }
  }
}
