.card-height{
  height: 408px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-property{
  .process-no{
    background: #F0F0F0;
    width: fit-content;
    margin-left: auto;
    padding: 13px;
    border-radius: 10px;
  }
  .progress {
    background-color: #E2E2E2;
    position: relative;
    height:2px;
    .progress-bar{
      background-color: $primary;
      top: -1px;
      border-radius: 10px
    }
  }
}

.property-size {
  position: absolute;
  right: 12px;
  top: 11px;
  color: black;
}

.commercial .custom-radio {
  display: inline-block;
  margin-right: 16px;

  label {
    border: 1px solid #B7B5B5;
    padding: 9px 12px;
    border-radius: 10px;
    font-size: 14px;
    svg{
      width:14px;
      margin:0 5px 3px 0;
    }

    &:before {
      content: none;
    }
  }

  input:checked + label {
    color: black;
    border-color: $green;
    svg{
      color:$green ;
    }
  }
}

.discount{
  .form-select{
    top: 3px;
    width: 100px;
    right: 5px;
    height: 38px;
    padding:5px;
  }
}

.pro-located{
  position: relative;
  button{
    height: 24px;
    font-size: 12px;
    padding: 2px 13px;
    border-radius: 6px;
    position: absolute;
    right: 12px;
    top: 38px;
  }
}

.icons{
  background: #F0F0F0;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  line-height: 28px;

  svg{
    width:14px;
    color: black;
  }
}

//properties css//

.property-banner{
  .owl-carousel{
    .position-left{
      position: relative;
      left: 38%;
    }
    .single-property{
      width: 368px;

      h3{
        font-family: $font-poppins;
      }
      .content-position{
        top: 42px;
        right: -71px;
      }
      .content-position1{
        right: 43px;
        left: auto;
        bottom: -35px;
        svg{
          vertical-align: middle;
          width: 36px;
        }
      }
    }
    .pro-banner-img{
      img{
        border-bottom-left-radius: 32px;
      }
    }
    .share-icon {
      position: absolute;
      bottom: 21px;
      left: 57%;
      /* right: 50%; */
      margin: auto;
      width: 44px;
      height: 44px;
      background: #F58E28;
      border-radius: 30px;
      text-align: center;
      line-height: 44px;
      box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);

      a{
        svg{
          width: 16px;
          bottom: 0;
          z-index: 10;
          color: white;
        }
      }
    }
  }
  .owl-nav{
    position: absolute;
    left: 61%;
    right: 0;
    margin: auto;
    bottom: 12px;
  }
}

.about-host{
  img{
    width: 100%;
  }
  .btn{
    svg{
      width:14px;
    }
  }
}

.request-booking {
  margin-top: -92px;
  z-index: 10;
  position: relative;

  select{
    border: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    height: auto;
  }
}

.explore{
  .card-details{
    &:hover{
      margin-top: 0;
    }
  }
}