$margin-xxxl: 160px;
$margin-xxl: 128px;
$margin-xl: 100px;
$margin-l: 80px;
$margin-m: 48px;
$margin-ssm: 32px;
$margin-sm: 16px;
$margin-s: 14px;
$padding-xs: 12px;
$padding-xxs: 8px;

$padding-xxxl: 160px;
$padding-xxl: 128px;
$padding-xl: 100px;
$padding-l:80px;
$padding-m: 48px;
$padding-ssm: 32px;
$padding-sm: 16px;
$padding-s: 14px;
$padding-xs: 12px;
$padding-xxs: 8px;


.p-xl{
  padding-top: $padding-xl;
}

.pb-m {
  padding-top: 23px;
  padding-bottom: 35px;
}

.pt-xl {
  padding-top: $padding-xl;
}

.py-xl {
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
}
.px-xl {
  padding-left: $padding-sm;
  padding-right: $padding-sm;
}
.py-ssm {
  padding-top: $padding-ssm;
  padding-bottom: $padding-ssm;
}
.p-ssm{
  padding-bottom: $padding-ssm;
}
.mb-y{
  margin-bottom: $margin-l;
  margin-top: $margin-l;
}
.mt-m {
  margin-top: $margin-m;
}
.mb-ssm {
  margin-bottom: $margin-ssm;
}
.mb-l {
  margin-bottom: $margin-l;
}
.mt-xxl {
  margin-top: $margin-xl;
}