@import "./../node_modules/@fontsource/poppins/700.css";
@import "./../node_modules/@fontsource/poppins/500.css";
@import "./../node_modules/@fontsource/poppins/400.css";
@import "./../node_modules/@fontsource/rufina/700.css";


$font-rufina: 'Rufina';
$font-poppins: 'poppins';


$text-xxl: 56px;
$text-xl: 48px;
$text-l: 28px;
$text-m: 24px;
$text-sm: 20px;
$text-s: 18px;
$text-16:16px;
$text-xs: 14px;
$text-xxs: 12px;


$medium: 500;

h1, h2, h3, h4{
  font-family:$font-rufina ;
  color: $black-100;
}

h1{
  font-size:$text-xxl;
}
h2{
  font-size:$text-xl;
}
h3{
  font-size:$text-l;
}
h4{
  font-size:$text-m;
}
h5{
  font-size:$text-s;
  font-weight:$medium;
}
h5, h6{
  color: $black-100;
  font-family: $font-poppins;
}

p{
  color:$gray-300;
  font-size: $text-xs;
  font-family: $font-poppins;
}
a{
  font-size:$text-xs;
  font-family: $font-poppins;
}
.heading-font{
  font-family: $font-rufina;
}