.chat{
    .msg-count {
    width: 20px;
    height: 20px;
    background: $secondary;
    text-align: center;
    border-radius: 30px;
    color: $white;
  }
  .user-img{
    width: 40px;
    height: 40px;
    img{
      border-radius:100%;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
  .scroll{
    overflow: auto;
    overflow-x: hidden;
    height: 350px;

    .chatbox{
      background: #FAFAFA;
      width: fit-content;
      margin-bottom: 1.2rem;
      padding: 0.6rem 1rem;
      border-radius: 5px;

      &.right-chatbox {
        float: right;
        text-align: right;
      }
    }
  }
  .add-more{
    width: 43px;
    height: 43px;
    background:$primary;
    border-radius: 10px;
    text-align: center;
    line-height: 43px;
    color: white;
    svg{
      width:14px;
    }
  }
}

